/*------------------------------------*\
#FONTS
\*------------------------------------*/
@font-face {
    font-family: IBM Plex Sans;
    src: url(../fonts/IBMPlexSans-Medium.otf);
    font-weight: 500;
  }
  @font-face {
    font-family: IBM Plex Sans;
    src: url(../fonts/IBMPlexSans-Regular.otf);
    font-weight: 400;
  }
/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --color-alpha : #1ab6ff;
    --color-beta : #009de6;

    --color-neutral-dark-x : #17191a;
    --color-neutral-dark : #616466;
    --color-neutral : #a1a5a6;
    --color-neutral-light : #c6cacc;
    --color-neutral-light-x : #f0f1f2;
    --color-neutral-light-xx : #ffffff;

    --color-alpha-opacity: rgb(26,182,255,0.3);
    /* fonts */
    --global-font-size: 16px;
    /* shadows */

    /* borders */

    /* transitions */
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "IBM Plex Sans",Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-beta);
    color: var(--color-neutral-dark);
    height: 100%;
    font-weight: 400;
}
body{
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: orange;
    color: white;
    text-shadow: none;
}

::selection {
    background: orange;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 500;
}

h1 {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2.3125rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    transition: all var(--transition-alpha);
    color: var(--color-alpha);
    outline-color: var(--color-alpha);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: var(--color-alpha);
}

a:hover,
a:focus {
    color: var(--color-alpha-light);
}

label,
input {
    display: inline-block;
}

select {
    width: 100%;
}

input::placeholder {
    color: var(--color-neutral);
}

input:disabled {
    cursor: not-allowed;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: 24px 24px 0;
}

/* size modifiers */

.o-row--lg {
    padding-top: 48px;
    padding-bottom: 24px;
}

.o-row--xl {
    padding-top: 72px;
    padding-bottom: 48px;
}

@media (min-width: 768px) {
    .o-row {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media (min-width: 992px) {
    .o-row--xl {
        padding-top: 96px;
        padding-bottom: 72px;
    }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    position: relative;
}

.o-section + .o-section {
    padding-top: 8px;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
    margin-bottom: 1.5rem;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/
.c-card{
    background-color: var(--color-neutral-light-xx);
    display: block;
    margin: auto;
    width: 32rem;
    height: 39.25;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-top: solid 0.5rem var(--color-alpha);
}
.c-tussentitel{
    color: var(--color-neutral-dark-x);
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.c-list{
    list-style: none;
    padding-left: 0;
    margin-top: 0.015rem;
}
.c-input{
    width: 28rem;
    background: var(--color-neutral-light-xx);
    height: 3rem;
    border: solid 0.125rem var(--color-neutral-light);
    padding: 1rem;
    margin-bottom: 2rem;
}
.c-input:hover{
    box-shadow: 0px 0px 3px 3px var(--color-alpha-opacity);
}
.c-input:focus,
.c-input:active{
    outline: none;
    border-color: var(--color-beta);
    background-color: var(--color-alpha-opacity);
}
.c-label{
    margin-left: 0.5rem;
}
.c-button{
    width: 28rem;
    color: var(--color-neutral-light-xx);
    border: none;
    font-weight: 500;
    line-height: 1.25rem;
    height: 3rem;
    background: var(--color-beta);
    border-radius: 0.1875rem;
}
.c-button:hover{
    box-shadow: 0px 0px 3px 3px var(--color-alpha-opacity);
}
.c-button:active,
c.c-button:focus{
    background-color: var(--color-alpha);
    outline: none;
}
.c-custom-option__fake-input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    background: var(--color-neutral-light-xx);
    border: solid 0.125rem var(--color-neutral-light);
    transition: all var 0.1s ease-out;
    margin-left: -0.5rem;
    margin-right: 0.5rem;
}
.c-custom-option__fake-input--checkbox {
    border-radius: 3px;
}

.c-custom-option__fake-input--radio {
    border-radius: 100%;
}
.c-label--option {
    padding-bottom: 0;
}
.c-custom-option{
    display: flex;
    align-items: center;
}
.c-custom-option__symbol {
    display: block;
    opacity: 0;
    transform: scale(.5);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}

.c-custom-option__fake-input--checkbox .c-custom-option__symbol {
    width: 1rem;
    height: 1rem;
    fill: var(--color-neutral-light-xx);
    background-color: var(--color-beta);
}

.c-custom-option__fake-input--radio .c-custom-option__symbol {
    background-color: var(--color-beta);
    border-radius: 100%;
    width: 0.375rem;
    height: 0.375rem;
}
.c-option--hidden:checked + .c-custom-option .c-custom-option__symbol {
    opacity: 1; /* Show the symbol when the invisible checkbox/radio button is checked */
    transform: scale(1);
}
.c-option--hidden:checked + .c-custom-option .c-custom-option__fake-input{
    border-color: var(--color-beta);
}
.c-option--hidden:checked + .c-custom-option__fake-input--checkbox{
    background-color: var(--color-beta);
    border-color: var(--color-beta);
}
.c-custom-option:hover .c-custom-option__fake-input{
    box-shadow: 0px 0px 2px 2px var(--color-alpha-opacity);
}
.c-custom-option:focus .c-custom-option__fake-input,
.c-custom-option:active .c-custom-option__fake-input{
    border-color: var(--color-beta);
}
/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral-light {
    color: lightGray;
}

.u-color-neutral {
    color: Gray;
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 32em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
